<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/resources/core.css">
    <title>null</title>
</head>
<body>
pissjar <br>
<a href="/login">Login</a><br>
<a href="/logout">Logout</a>
</body>
</html>
