<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="/resources/core.css">
	<script src="https://cdn.socket.io/3.1.3/socket.io.min.js" integrity="sha384-cPwlPLvBTa3sKAgddT6krw0cJat7egBga3DJepJyrLl4Q9/5WLra3rrnMcyTyOnh" crossorigin="anonymous"></script>
	<title>null</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<style> 
		body { margin: 0; padding-bottom: 3rem; font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif; }
  
		#form { background: rgba(0, 0, 0, 0.15); padding: 0.25rem; position: fixed; bottom: 0; left: 0; right: 0; display: flex; height: 3rem; box-sizing: border-box; backdrop-filter: blur(10px); }
		#input { border: none; padding: 0 1rem; flex-grow: 1; border-radius: 2rem; margin: 0.25rem; }
		#input:focus { outline: none; }
		#form > button { background: #333; border: none; padding: 0 1rem; margin: 0.25rem; border-radius: 3px; outline: none; color: #fff; }
  
		#messages { list-style-type: none; margin: 0; padding: 0; }
		#messages > li { padding: 0.5rem 1rem; }
		#messages > li:nth-child(odd) { background: #efefef; }
	  </style>
</head>
<body>
	<ul id="messages"></ul>
	<form id="form" action="">
	  <input id="input" autocomplete="off" /><button>Send</button>
	</form>
  </body>
<% if(user) { %>
<script>
var socket = io();

var form = document.getElementById('form');
var input = document.getElementById('input');

form.addEventListener('submit', function(e) {
  e.preventDefault();
  if (input.value) {
	socket.emit('chat message', input.value);
	input.value = '';
  }
});
	socket.on('chat message', function(msg) {
		var item = document.createElement('li');
		item.innerHTML = `<a href="/profile/${msg.userId}"><p class='user'>${msg.user}<p class="text-xs">${msg.userId}</p></p></a><p id="message-content"></p>`;
		item.querySelector("#message-content").textContent = msg.message;
		messages.appendChild(item);
		window.scrollTo(0, document.body.scrollHeight);
	});

	socket.on("system response", (data) => {
		var item = document.createElement('li');
		switch(data.type) {
			case "message":
				item.innerHTML = `<a href="/profile/rickroll"><p class='user text-red-900 font-bold'>System</p></a>${data.data}`;
				break;
			case "list":
				console.log(data)
				let finalMessage = `Online users: `
				for(let i = 0; i < data.data.length; i++) {
					finalMessage += `<a href="/profile/${data.data[i].id}" class="inline-block"><p class='user'>${data.data[i].name}</p></a>${i == data.data.length - 1 ? "." : ", "}`
				}
				item.innerHTML = finalMessage
				break;
			case "refresh":
				window.location = window.location;
				break;
			case "rickroll":
				window.location = "https://www.youtube.com/watch?v=dQw4w9WgXcQ";
				break;
			case "adminmessage":
				item.innerHTML = `<audio autoplay><source src="/resources/broadcast.wav"></audio><a href="/profile/rickroll"><p class='user text-red-900 font-bold'>Announcement!</p></a>${data.data}`;
				break;
		}
		messages.appendChild(item);
		window.scrollTo(0, document.body.scrollHeight);
	});
	socket.on("disconnect", () => {
		var item = document.createElement('li');
		item.innerHTML = `<a href="/profile/rickroll"><p class='user text-red-900 font-bold'>System</p></a>The server has disconnected.`;
		messages.appendChild(item);
		window.scrollTo(0, document.body.scrollHeight);
	});
</script>
<% } else {%>
<script>
	var socket = io();
	
	var form = document.querySelector('form');
	var input = document.querySelector('input');
	var button = document.querySelector('button');

	input.disabled = true;
	input.placeholder = "Click log in (to the right) to participate in null.";
	button.innerHTML = "Log in"
	
	form.addEventListener('submit', function(e) {
		e.preventDefault();
		window.location = '/login';
	});
	
	socket.on('chat message', function(msg) {
		var item = document.createElement('li');
		item.innerHTML = `<a href="/profile/${msg.userId}"><p class='user'>${msg.user}<p class="text-xs">${msg.userId}</p></p></a>${msg.message}`;
		messages.appendChild(item);
		window.scrollTo(0, document.body.scrollHeight);
	});
	</script>
<% } %>
</html>
