<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>null</title>
		<link rel="stylesheet" href="/resources/core.css">
	</head>
    <body class="ml-8 mt-8">
        <h1>null</h1>
		Please login to participate.<br><br>
        <a id="login" href="/oauth"><button class="button button-blue text-2xl font-bold"><img decoding="async" srcset="./resources/discord.svg" width="32px">&nbsp;Login with Discord</button></a>
    </body>
</html> 